
/* Your CSS Code here. */
.moviePic{
	height:150px;
	width:300px;
	opacity:0.9;
	border: 8px solid lightgoldenrodyellow;
}
.movieDetail{
	position: relative;
	top:10px;
	text-align:center;
	font-size:15px;
	border: 8px solid green;
}